* {
    box-sizing: border-box;
    user-select: none;
}

::selection {
    color: white;
    background: darkcyan;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #272643;
}

.header {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 330px;
    background-color: #e3f6f5;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: #2c538d;
    border-radius: 20px;
}

.header h1 {
    user-select: text;
    margin-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header h1:hover {
    border-style: solid none solid none;
    border-width: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.content {
    margin-left: 330px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 10px;
    background-color: #bae8e8;
    border-style: solid;
    border-width: 2px;
    border-color: #2c538d;
    border-radius: 20px;
}

.sidenav .logo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    border-width: 0;
    transition: border-radius 1s;
}

.sidenav .logo:hover {
    border-radius: 5%;
    border-style: solid;
    border-width: 2px;
}

.sidenav .name {
    text-align: center;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    user-select: text;
}

.sidenav .name::selection {
    color: black;
    background: white;
}

.sidenav .name:hover {
    border-style: solid none solid none;
    border-width: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.content .title {
    font-size: 50px;
    font-weight: bold;
    border-style: none none solid none;
    border-width: 2px;
    padding-bottom: 10px;
    user-select: text;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    width: 100%;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bae8e8;
    z-index: 1;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sidenav li a {
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    text-align: center;
    background-color: rgb(230, 230, 230);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    top: 50%;
    left: 50%;
    background-color: white;
    color: black;
    border: 2px solid #2c538d;
    border-radius: 20px;
}

.sidenav li a:hover {
    background-color: #2c698d;
    color: white;
}